node_modules/
client/node_modules/
client/public/build/

.DS_Store

venv/
**/__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.zip
