<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="role" content="{{role}}" />
  {% if title == 'Account Recovery' %}
  <meta name="recovery" content="{{url}}" />
  {% endif %}

  <meta name="csrf_token" content="{{ csrf_token() }}" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{url_for('static', filename='assets/favicons/apple-touch-icon.png')}}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{url_for('static', filename='assets/favicons/favicon-32x32.png')}}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{url_for('static', filename='assets/favicons/favicon-16x16.png')}}"
  />
  <link
    rel="manifest"
    href="{{url_for('static', filename='assets/favicons/site.webmanifest')}}"
  />
  <link
    rel="mask-icon"
    href="{{url_for('static', filename='assets/favicons/safari-pinned-tab.svg')}}"
    color="#5bbad5"
  />
  <meta name="msapplication-TileColor" content="#2b5797" />
  <meta name="theme-color" content="rgb(104, 104, 104)" />

  <script src="{{url_for('static', filename='js/helpers.js')}}"></script>
  <script src="{{url_for('static', filename='js/global.components.js')}}"></script>

  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.global.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.navbar.css')}}"
  />
  {% if title == 'Login'%}
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.login.css')}}"
  />
  {%endif%} {% if title == 'Content'%}
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.content.css')}}"
  />
  {% endif %} {% if title == 'Images'%}
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.images.css')}}"
  />
  {% endif %} {% if title == 'Settings' %}
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.settings.css')}}"
  />
  {% endif %} {% if title == 'Galleries' %}
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/styles.galleries.css')}}"
  />
  {% endif %}

  <title>managem | {{title}}</title>
</head>
