<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html'%}

  <body>
    <!-- NavBar to be sticky -->
    {% include 'partials/nav-bar.html'%}
    <!-- Main content -->

    <div id="root">
      <!-- <div class="loading">
        <svg
          class="loader-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="500"
          height="500"
          viewBox="0 0 132.29166 132.29167"
        >
          <g>
            <path
              class="loader-path"
              d="m 66.573613,126.66219 9.9e-4,-8e-5 c 33.183731,-6e-5 60.084447,-27.034831 60.084487,-60.38394 l 7e-5,-0.0029"
              style="
                fill: none;
                fill-rule: evenodd;
                stroke: #00ffff;
                stroke-width: 10.7299;
                stroke-miterlimit: 4;
                stroke-dasharray: none;
                stroke-opacity: 1;
              "
            />
          </g>
        </svg>
      </div> -->
    </div>
  </body>
</html>
