<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='assets/favicons/apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='assets/favicons/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='assets/favicons/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='assets/favicons/site.webmanifest')}}"
    />
    <link
      rel="mask-icon"
      href="{{url_for('static', filename='assets/favicons/safari-pinned-tab.svg')}}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="rgb(104, 104, 104)" />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.global.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.login.css')}}"
    />
    <title>managem</title>
  </head>
  <body>
    <div class="login-page">
      <div class="logo">
        <svg
          width="100%"
          height="100%"
          version="1.1"
          viewBox="0 0 189.97 46.567"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g
            transform="translate(-8.5391 -23.661)"
            style="fill: #d5e5ff; opacity: 0.67846;"
          >
            <path
              d="m145.65 34.761 26.338 35.226 26.338-35.226-8.5878-10.883h-35.133z"
              style="fill: #d5e5ff; stroke-width: 0.072696; stroke: #000;"
            />
            <path
              d="m145.65 34.768h52.677"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m154.73 34.761 17.299 35.226"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m165 34.761 7.0241 35.226"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m189.62 34.761-17.627 35.226"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m179.77 34.761-7.7835 35.226"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m154.73 34.754 5.6294-10.876"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m165 34.754 3.3284-10.876"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m179.77 34.754-2.7164-10.876"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
            <path
              d="m189.62 34.754-4.5426-10.876"
              style="fill: #d5e5ff; stroke-width: 0.061008; stroke: #000;"
            />
          </g>
          <path d="m134.08 0.68017h-133.94" style="fill: none; stroke: #000;" />
          <path d="m134.08 45.887h-133.94" style="fill: none; stroke: #000;" />
          <text
            transform="scale(1.0544 .94842)"
            x="-1.8998765"
            y="27.899826"
            style="
              fill: #000000;
              font-family: sans-serif;
              font-size: 29.259px;
              line-height: 1.25;
              stroke-width: 0.73148;
            "
          >
            <tspan
              x="-1.8998765"
              y="27.899826"
              style="font-family: Futura; stroke-width: 0.73148;"
            >
              managem
            </tspan>
          </text>
        </svg>
      </div>
      <div class="login-container">
        <div class="messages">
          {% if message is defined and "error" in message %}
          <p style="color: red;">{{message["error"]}}</p>
          {% elif message is defined and "message" in message %}
          <p style="color: green;">{{message["message"]}}</p>
          {% endif %}
        </div>
        <form>
          <input name="csrf_token" type="text" value="{{ csrf_token() }}" />
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <button type="submit">Enter</button>
        </form>
        <a class="login-link" href="/">Main Website</a>
        <a class="login-link" onclick="toggleRecoveryForm(event)"
          >Recover Account</a
        >
      </div>
    </div>
    <script src="{{url_for('static', filename='js/helpers.js')}}"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
    <script src="{{url_for('static', filename='js/recoverAcct.js')}}"></script>
    {% if message is defined %}
    <script>
      let messageTimer;
      messageTimer = setTimeout(() => {
        const allMessages = searchForAll(".messages > *");
        allMessages.forEach((m) => {
          m.addEventListener("transitionend", (e) => {
            m.remove();
          });
          m.classList.toggle("fade-out");
        });
      }, 3000);
    </script>
    {% endif %}
  </body>
</html>
