<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html'%}

  <body>
    <!-- NavBar to be sticky -->
    {% include 'partials/nav-bar.html'%}
    <div id="root">
      <form
        onsubmit="changeSettings(event)"
        id="user-settings"
        style="display: none;"
      ></form>
      <div class="settings" id="search-container">
        <h2>User Information</h2>
        <div class="user-info">
          <h4 class="attr-names">Name</h4>
          <h4 class="attr-values">
            <span data-id="db_values" id="first_name"
              >{{current_user['first_name']}}</span
            >
            <span data-id="db_values" id="last_name"
              >{{current_user['last_name']}}</span
            >
          </h4>
          <h4 class="attr-names">Username</h4>
          <h4 data-id="db_values" id="username" class="attr-values">
            {{current_user['username']}}
          </h4>
          <h4 id="role-header" class="attr-names">Role</h4>
          <h4 data-id="db_values" id="role-value" class="attr-values">
            {{current_user['role']}}
          </h4>
          <h4 id="password-header" class="attr-names">Change Password</h4>

          <div class="n-names">
            <input
              form="user-settings"
              type="text"
              name="first_name"
              id="n-firstname"
            />

            <input
              form="user-settings"
              type="text"
              name="last_name"
              id="n-lastname"
            />
          </div>

          <input
            form="user-settings"
            type="text"
            name="username"
            id="n-username"
          />

          <input
            form="user-settings"
            type="text"
            name="role"
            id="n-role"
            disabled
            value="admin"
          />

          <input
            form="user-settings"
            type="password"
            name="password"
            id="n-password"
          />

          <button type="submit" form="user-settings">Confirm</button>
        </div>
        {% if role == 'admin'%}
        <div class="create-user">
            <form onsubmit="createUser(event)" id="new-user-form" style="display: none;"></form>
          <h2>Create User</h2>
          <p>
            Provide the credentials for the new user you wish to create. 
            Password and username will automatically be assigned, and the user will receive these credentials via email.
          </p>
          <div class="new-user-info">
            <h4 class="attr-names">Name</h4>
            <h4 class="attr-names">Email</h4>
            <h4 class="attr-names">Role</h4>
            <div class="n-names">
              <input form="new-user-form" type="text" name="first_name" id="n-firstname" placeholder="First Name" />
              <input form="new-user-form" type="text" name="last_name" id="n-lastname" placeholder="Last Name" />
            </div>
            <input form="new-user-form" type="text" name="email" id="n-email" placeholder="Email Address" />
            <div onclick="showRoleOptions(event)" class="select-role-wrapper">
              <span>Select a role</span>
              <div class="role-options"></div>
            </div>
            <button type="submit" form="new-user-form">Create User</button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="{{url_for('static', filename='js/settings/settings.js')}}"></script>
    {% if role == 'admin'%}
    <script src="{{url_for('static', filename='js/settings/admin.js')}}"></script>
    {% endif %}
  </body>
</html>
