<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html'%}

  <body>
    <!-- NavBar to be sticky -->
    {% include 'partials/nav-bar.html'%}
    <div id="root">
      <form
        onsubmit="changeSettings(event)"
        id="user-settings"
        style="display: none;"
      ></form>
      <div class="settings" id="search-container">
        <div class="user-info">
          <h2>User Information</h2>
          <div class="user-info-list">
            <h4 class="attr-names">Name</h4>
            <h4 class="attr-values">
              <span data-id="db_values" id="first_name"
                >{{current_user['first_name']}}</span
              >
              <span data-id="db_values" id="last_name"
                >{{current_user['last_name']}}</span
              >
            </h4>
            <h4 class="attr-names">Username</h4>
            <h4 data-id="db_values" id="username" class="attr-values">
              {{current_user['username']}}
            </h4>
            <h4 id="role-header" class="attr-names">Role</h4>
            <h4 data-id="db_values" id="role-value" class="attr-values">
              {{current_user['role']}}
            </h4>
            <h4 id="password-header" class="attr-names">Change Password</h4>

            <div class="n-names">
              <input
                form="user-settings"
                type="text"
                name="first_name"
                id="n-firstname"
              />

              <input
                form="user-settings"
                type="text"
                name="last_name"
                id="n-lastname"
              />
            </div>

            <!-- <input
              form="user-settings"
              type="text"
              name="username"
              id="n-username"
            /> -->

            <div class="role-request">
              {% if role == 'admin'%}🔐{% else %}You may request a change in
              role to an admin.{% endif %}
            </div>

            <input
              form="user-settings"
              type="password"
              name="password"
              id="n-password"
            />

            <button type="submit" form="user-settings">Confirm</button>
          </div>
        </div>
        {% if role == 'admin' or role == 'manager'%}
        <div class="create-user">
          <form
            onsubmit="createUser(event)"
            id="new-user-form"
            style="display: none;"
          ></form>
          <h2>Create User</h2>
          <p>
            Provide the credentials for the new user you wish to create.
            Password and username will automatically be assigned, and the user
            will receive these credentials via email.
          </p>
          <div class="new-user-info">
            <h4 class="attr-names">Name</h4>
            <h4 class="attr-names">Email</h4>
            <h4 class="attr-names">Role</h4>
            <div class="n-names">
              <input
                form="new-user-form"
                type="text"
                name="first_name"
                id="n-firstname"
                placeholder="First Name"
              />
              <input
                form="new-user-form"
                type="text"
                name="last_name"
                id="n-lastname"
                placeholder="Last Name"
              />
            </div>
            <input
              form="new-user-form"
              type="text"
              name="email"
              id="n-email"
              placeholder="Email Address"
            />
            <input
              form="new-user-form"
              type="text"
              name="role"
              id="n-role"
              style="display: none;"
            />
            <div
              tabindex="0"
              onclick="showRoleOptions(event)"
              class="select-role-wrapper"
            >
              <p>Select a role</p>
              <div class="role-options"></div>
            </div>
            <button type="submit" form="new-user-form">Create User</button>
          </div>
        </div>
        <div class="users">
          <h2>Users</h2>
          <div class="user-list"></div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="{{url_for('static', filename='js/global.components.js')}}"></script>
    <script src="{{url_for('static', filename='js/settings/settings.js')}}"></script>
    {% if role == 'admin' or role =='manager'%}
    <script src="{{url_for('static', filename='js/settings/admin.js')}}"></script>
    {% endif %}
  </body>
</html>
