/******************
GLOBAL
******************/
:root {
  --light: rgb(212, 212, 212);
  --gray: rgb(104, 104, 104);
  --primary: rgb(97, 97, 250);
  --selected: rgba(60, 244, 244, 0.61);
  --bubble: rgb(60, 244, 244);
  /* --selected: rgba(150, 255, 255, 0.61); */
  --toolbars: #f9d083;
  --pretty: rgb(186, 186, 255);
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

#root {
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

input,
button,
.button {
  border-radius: 4px;
  border: 0.5px solid var(--light);
}

input {
  margin: 0.25rem 0;
  font-size: 1.25rem;
  padding: 4px;
}

textarea {
  font-family: "Helvetica Neue";
  white-space: pre-wrap;
}

button,
.button {
  display: block;
  text-align: center;
  font-size: 1.15rem;
  padding: 4px;
  background: var(--primary);
  color: var(--light);
  cursor: pointer;
}

img {
  width: 300px;
  height: 300px;
}

.loader-icon {
  animation: rotateLoader 0.5s linear 0s infinite forwards;
  width: 100%;
  height: auto;
}
.loader-path {
  animation: changeLoaderColor 4s linear infinite alternate-reverse;
}

.loading-wrapper {
  width: clamp(50px, 50%, 275px);
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.message-link {
  text-decoration: underline;
  color: var(--primary);
  cursor: pointer;
}

@keyframes rotateLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes changeLoaderColor {
  from {
    stroke: rgb(255, 60, 106);
  }
  to {
    stroke: rgb(107, 28, 47);
  }
}
