/******************
LOGIN PAGE
******************/
html,
body {
  height: 100%;
}

.login-page {
  /* height: clamp(450px, 60%, 1000px); */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.login-container {
  grid-area: 2/2/2/2;
  align-self: center;
  justify-self: center;
  width: clamp(365px, 100%, 400px);
}

.login-container > form {
  display: flex;
  flex-flow: column nowrap;
}

.login-container > form > button {
  margin: 0.75rem 0;
}

.login-container > * {
  width: 90%;
  margin: 1rem auto;
}

.login-container > h1 {
  text-align: center;
}

.logo {
  grid-area: 1/1/1/4;
  align-self: end;
  justify-self: center;
  width: clamp(235px, 90%, 765px);
  padding-top: 1rem;
}

.logo > svg {
  display: block;
}

.login-link {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  text-decoration: underline;
  color: var(--primary);
  cursor: pointer;
}

.messages {
  height: 20px;
}

.messages > * {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-out {
  opacity: 0;
}
